@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

html {
    background-color:rgb(41, 38, 38);
    font-family: 'Orbitron', sans-serif;
}

.App {
    display: grid;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    padding: 20px;
    padding-bottom: 40px;

    border-radius: 25px;
    background-color: rgb(29, 27, 27);
}

.container {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-panel {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    color: rgb(68, 198, 238);
    width: 750px;
    position: absolute;
    left: 64%;
    top: 15%;
}

.info-panel p {
    text-align: left;
}

.flag {
    background-image: linear-gradient(to bottom right, rgb(196, 132, 8), rgb(255, 204, 0));
    width: 25px;
    height: 23px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}

.mark {
    background-image: linear-gradient(to bottom right, rgb(68, 157, 21), rgb(85, 255, 0));
    color: green;
    font-weight: 600;
    font-family:'Didot', Didot, monospace;
    width: 25px;
    height: 23px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}