html {
    background-color:rgb(41, 38, 38);
}

.app {
    display: grid;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;

    justify-content: center;
    align-items: center;
}