html {
    background-color:rgb(41, 38, 38);
}

.App {
    display: grid;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    padding: 20px;
    padding-bottom: 40px;

    border-radius: 25px;
    background-color: rgb(29, 27, 27);
}

.container {
    display: grid;
    padding: 0;
    justify-content: center;
    align-items: center;
}
